language: objective-c
osx_image: xcode8.2
xcode_project: AsyncNinja.xcodeproj
xcode_scheme: AsyncNinja
xcode_sdk: macosx10.12
before_install:
  - sudo gem install xcpretty
  - sudo gem install xcpretty-travis-formatter
before_script:
  - swift package generate-xcodeproj
script:
  - set -o pipefail && xcodebuild build test -project AsyncNinja.xcodeproj -scheme AsyncNinja -sdk macosx10.12 | xcpretty --no-color --no-utf -f `xcpretty-travis-formatter`
